### System and Project
.idea/
.fleet/
.vscode/
.DS_Store

*.log
*.log*


/temp
out
*.out


# Environments
#.env
env/
venv/
ENV/
env.bak/
venv.bak/


# Python
__pychache__
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

*.lock
*.local